### 1. ICM

In [1]:
import pandas as pd
df_icm_a = pd.read_excel("dados/ICM/ICM Faixa A.xlsx", skiprows=4, skipfooter=1,
                dtype={
                    'C√≥digo IBGE': str}
                        )
df_icm_a = df_icm_a.drop(['C√≥digo UF', 'Regi√£o'], axis=1)
df_icm_a['icm'] = 'A'
#df_pib_municipal_02_09 = df_pib_municipal_02_09.rename(columns={'': '', '': '})
df_icm_a.tail()

,C√≥digo IBGE,UF,Munic√≠pio,Faixa Populacional,V1,V2,V3,V4,V5,V6,...,V18,V19,V20,Porte,Perfil de Risco,DimI,DimII,DimIII,Total,icm
580,4322186,RS,Tupanci do Sul,1 - At√© 5000,1,0,0,0,0,1,...,1,1,0,Pequeno,N√£o Priorit√°rio,3,3,2,8,A
581,5104104,MT,Guarant√£ do Norte,4 - 20001 at√© 50000,1,0,0,0,0,1,...,1,1,0,Pequeno,N√£o Priorit√°rio,3,3,2,8,A
582,5206206,GO,Cristalina,5 - 50001 at√© 100000,1,0,0,0,0,1,...,1,0,0,Pequeno,N√£o Priorit√°rio,3,3,2,8,A
583,5217401,GO,Pires do Rio,4 - 20001 at√© 50000,1,1,0,0,0,1,...,1,1,0,Pequeno,N√£o Priorit√°rio,3,3,2,8,A
584,5219753,GO,Santo Ant√¥nio do Descoberto,5 - 50001 at√© 100000,1,1,0,0,0,1,...,1,0,0,Pequeno,N√£o Priorit√°rio,3,3,2,8,A

In [2]:
import pandas as pd
df_icm_b = pd.read_excel("dados/ICM/ICM Faixa B.xlsx", skiprows=4,skipfooter=1,
                dtype={
                    'C√≥digo IBGE': str}
                        )
df_icm_b = df_icm_b.drop(['C√≥digo UF', 'Regi√£o'], axis=1)
df_icm_b['icm'] = 'B'
#df_pib_municipal_02_09 = df_pib_municipal_02_09.rename(columns={'': '', '': '})
df_icm_b.head()

,C√≥digo IBGE,UF,Munic√≠pio,Faixa Populacional,V1,V2,V3,V4,V5,V6,...,V18,V19,V20,Porte,Perfil de Risco,DimI,DimII,DimIII,Total,icm
0,3204708,ES,S√£o Gabriel da Palha,4 - 20001 at√© 50000,1,1,1,1,1,1,...,1,1,1,Pequeno,Priorit√°rio,8,5,5,18,B
1,3205101,ES,Viana,5 - 50001 at√© 100000,1,1,1,1,1,1,...,1,1,0,Pequeno,Priorit√°rio,8,7,3,18,B
2,4205407,SC,Florian√≥polis,7 - Maior que 500000,1,1,1,1,1,1,...,1,1,1,M√©dio/Grande,Priorit√°rio,8,5,5,18,B
3,4209300,SC,Lages,6 - 100001 at√© 500000,1,1,0,1,0,1,...,1,1,1,M√©dio/Grande,Priorit√°rio,6,7,5,18,B
4,4306809,RS,Encantado,4 - 20001 at√© 50000,1,1,1,1,1,1,...,1,1,1,Pequeno,Priorit√°rio,8,5,5,18,B

In [3]:
import pandas as pd
df_icm_c = pd.read_excel("dados/ICM/ICM Faixa C.xlsx", skiprows=4,skipfooter=1,
                dtype={
                    'C√≥digo IBGE': str}
                        )
df_icm_c = df_icm_c.drop(['C√≥digo UF', 'Regi√£o'], axis=1)
df_icm_c['icm'] = 'C'
#df_pib_municipal_02_09 = df_pib_municipal_02_09.rename(columns={'': '', '': '})
df_icm_c.head()

,C√≥digo IBGE,UF,Munic√≠pio,Faixa Populacional,V1,V2,V3,V4,V5,V6,...,V18,V19,V20,Porte,Perfil de Risco,DimI,DimII,DimIII,Total,icm
0,1600600,AP,Santana,6 - 100001 at√© 500000,1,1,1,1,1,1,...,0,1,0,M√©dio/Grande,Priorit√°rio,8,7,2,17,C
1,3103504,MG,Araguari,6 - 100001 at√© 500000,1,1,1,1,1,1,...,1,0,0,M√©dio/Grande,N√£o Priorit√°rio,8,7,1,16,C
2,3149309,MG,Pedro Leopoldo,5 - 50001 at√© 100000,1,1,0,1,1,1,...,1,0,0,Pequeno,Priorit√°rio,7,7,2,16,C
3,3509700,SP,Campos do Jord√£o,5 - 50001 at√© 100000,1,1,1,1,1,1,...,1,1,1,Pequeno,Priorit√°rio,8,3,5,16,C
4,3548807,SP,S√£o Caetano do Sul,6 - 100001 at√© 500000,1,1,1,1,1,1,...,1,1,0,M√©dio/Grande,Priorit√°rio,8,6,2,16,C

In [4]:
import pandas as pd
df_icm_d = pd.read_excel("dados/ICM/ICM Faixa D.xlsx", skiprows=4,skipfooter=1,
                dtype={
                    'C√≥digo IBGE': str}
                        )
df_icm_d = df_icm_d.drop(['C√≥digo UF', 'Regi√£o'], axis=1)
df_icm_d['icm'] = 'D'
#df_pib_municipal_02_09 = df_pib_municipal_02_09.rename(columns={'': '', '': '})
df_icm_d.head()

,C√≥digo IBGE,UF,Munic√≠pio,Faixa Populacional,V1,V2,V3,V4,V5,V6,...,V18,V19,V20,Porte,Perfil de Risco,DimI,DimII,DimIII,Total,icm
0,4310900,RS,Jacutinga,1 - At√© 5000,1,0,0,0,0,1,...,1,1,0,Pequeno,Priorit√°rio,2,6,4,12,D
1,1303403,AM,Parintins,6 - 100001 at√© 500000,1,0,0,0,0,1,...,1,1,0,M√©dio/Grande,Priorit√°rio,2,5,4,11,D
2,2601102,PE,Araripina,5 - 50001 at√© 100000,1,0,0,0,0,1,...,1,1,0,Pequeno,Priorit√°rio,2,5,4,11,D
3,3158953,MG,Santana do Para√≠so,4 - 20001 at√© 50000,1,1,0,0,0,0,...,1,1,0,Pequeno,Priorit√°rio,2,6,3,11,D
4,4121505,PR,Rebou√ßas,3 - 10001 at√© 20000,1,0,0,0,0,1,...,1,1,0,Pequeno,Priorit√°rio,2,5,4,11,D

#### BASE ICM por Munic√≠pio

In [5]:
df_icm = pd.concat([df_icm_a, df_icm_b, df_icm_c, df_icm_d], ignore_index=True)
df_icm = df_icm.rename(columns={'C√≥digo IBGE': 'ibge7'})
df_icm.head()

,ibge7,UF,Munic√≠pio,Faixa Populacional,V1,V2,V3,V4,V5,V6,...,V18,V19,V20,Porte,Perfil de Risco,DimI,DimII,DimIII,Total,icm
0,1702109,TO,Aragua√≠na,6 - 100001 at√© 500000,1,1,1,1,1,1,...,1,1,1,M√©dio/Grande,Priorit√°rio,8,7,5,20,A
1,2800308,SE,Aracaju,7 - Maior que 500000,1,1,1,1,1,1,...,1,1,1,M√©dio/Grande,Priorit√°rio,8,7,5,20,A
2,3131901,MG,Itabirito,5 - 50001 at√© 100000,1,1,1,1,1,1,...,1,1,1,Pequeno,Priorit√°rio,8,7,5,20,A
3,2504009,PB,Campina Grande,6 - 100001 at√© 500000,1,1,1,1,1,1,...,1,1,1,M√©dio/Grande,Priorit√°rio,8,6,5,19,A
4,3106200,MG,Belo Horizonte,7 - Maior que 500000,1,1,1,1,1,1,...,1,1,1,M√©dio/Grande,Priorit√°rio,8,6,5,19,A

In [6]:
df_icm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5593 entries, 0 to 5592
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ibge7               5593 non-null   object
 1   UF                  5593 non-null   object
 2   Munic√≠pio           5593 non-null   object
 3   Faixa Populacional  5593 non-null   object
 4   V1                  5593 non-null   int64
 5   V2                  5593 non-null   int64
 6   V3                  5593 non-null   int64
 7   V4                  5593 non-null   int64
 8   V5                  5593 non-null   int64
 9   V6                  5593 non-null   int64
 10  V7                  5593 non-null   int64
 11  V8                  5593 non-null   int64
 12  V9                  5593 non-null   int64
 13  V10                 5593 non-null   int64
 14  V11                 5593 non-null   int64
 15  V12                 5593 non-null   int64
 16  V13                 5593 non-null   int64
 17  V14                 5593 non-null   int64
 18  V15                 5593 non-null   int64
 19  V16                 5593 non-null   int64
 20  V17                 5593 non-null   int64
 21  V18                 5593 non-null   int64
 22  V19                 5593 non-null   int64
 23  V20                 5593 non-null   int64
 24  Porte               5593 non-null   object
 25  Perfil de Risco     5593 non-null   object
 26  DimI                5593 non-null   int64
 27  DimII               5593 non-null   int64
 28  DimIII              5593 non-null   int64
 29  Total               5593 non-null   int64
 30  icm                 5593 non-null   object
dtypes: int64(24), object(7)
memory usage: 1.3+ MB

In [7]:
df_icm.to_csv(
    "dados/_base_final/ICM.csv",
    index=False,           # N√£o salva o √≠ndice
    encoding='utf-8',      # Codifica√ß√£o para caracteres especiais
    sep=',',               # Separador (v√≠rgula)
    decimal='.'            # Separador decimal (ponto)
)

In [8]:
print("üîç ANALISANDO DUPLICATAS:")
print(f"df_icm: {len(df_icm)} registros")
print(f"Valores √∫nicos ibge7 em df_icm: {df_icm['ibge7'].nunique()}")

# Verificar duplicatas no df_icm
duplicatas_icm = df_icm['ibge7'].duplicated().sum()
print(f"Duplicatas em df_icm: {duplicatas_icm}")

if duplicatas_icm > 0:
    print("\nüèôÔ∏è Munic√≠pios duplicados no df_icm:")
    municipios_duplicados = df_icm[df_icm['ibge7'].duplicated(keep=False)]['ibge7'].unique()
    print(municipios_duplicados[:10])  # Mostra os primeiros 10

üîç ANALISANDO DUPLICATAS:
df_icm: 5593 registros
Valores √∫nicos ibge7 em df_icm: 5444
Duplicatas em df_icm: 149

üèôÔ∏è Munic√≠pios duplicados no df_icm:
['2806602' '2410900' '2505600' '3145109' '4115358' '4205357' '4320404'
 '2206670' '2516102' '3136801']

In [9]:
teste = df_icm[df_icm['ibge7'] == '2806602']
teste

,ibge7,UF,Munic√≠pio,Faixa Populacional,V1,V2,V3,V4,V5,V6,...,V18,V19,V20,Porte,Perfil de Risco,DimI,DimII,DimIII,Total,icm
341,2806602,SE,Santo Amaro das Brotas,3 - 10001 at√© 20000,0,0,0,0,0,1,...,0,1,0,Pequeno,N√£o Priorit√°rio,3,4,3,10,A
4584,2806602,SE,Santo Amaro das Brotas,3 - 10001 at√© 20000,0,0,0,0,0,1,...,0,0,0,Pequeno,N√£o Priorit√°rio,2,3,0,5,D

### 2. Resposta: recursos liberados

In [28]:
import pandas as pd
df_resposta_recurso = pd.read_excel("dados/Relat√≥rio Gerencial de Resposta - Recursos Liberados1.xlsx", 
                               skiprows=2, 
                dtype={
                    'IBGE': str}
                        )

df_resposta_recurso = df_resposta_recurso.rename(columns={'IBGE': 'ibge7'})
df_resposta_recurso.head()

,ibge7,CNPJ,UF,Munic√≠pio,Processo,Protocolo,Ano,N¬∫ Siafi,N¬∫ munic√≠pio no Siafi,N¬∫ Termo de Compromisso,...,GND,MP - N¬∫ da lei,Data Empenho,Data Dou,Fim vig√™ncia,Status,N¬∫ de pessoas atendidas,Parcela 1,Parcela 2,Parcela 3
0,4213500,82575812000120,SC,Porto Belo,59052.001485/2018-23,RES-SC-4213500-20180129-01,2018,8265,8265,692904,...,334041,13.587,05/03/2018,01/03/2018,28/08/2018,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,9500,47753.03,NaN,NaN
1,4319364,21097745000190,RS,S√£o Pedro das Miss√µes,59052.000825/2017-18,RES-RS-4319364-20170804-01,2017,1172,1172,690625,...,334041,13.414,21/09/2017,19/09/2017,18/03/2018,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,1420,26639.08,NaN,NaN
2,1506005,15625014000178,PA,Prainha,59052.001807/2018-34,RES-PA-1506005-20180515-02,2018,519,519,694242,...,334041,13.587,04/07/2018,03/07/2018,30/12/2018,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,0,65957.76,NaN,NaN
3,3100302,18837278000183,MG,Abre Campo,59052.003621/2020-34,RES-MG-3100302-20200214-02,2020,4005,4005,699757,...,334041,00.920,03/03/2020,03/03/2020,30/08/2020,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,66144,1219671.40,NaN,NaN
4,3161650,1613075000100,MG,S√£o Geraldo do Baixio,59052.002979/2019-14,RES-MG-3161650-20190409-01,2019,714,714,697334,...,334041,13.808,09/05/2019,08/05/2019,04/11/2019,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,3920,133920.00,NaN,NaN

In [29]:
# Converter as colunas para datetime
df_resposta_recurso['Data Empenho'] = pd.to_datetime(df_resposta_recurso['Data Empenho'], format='%d/%m/%Y', errors='coerce')
df_resposta_recurso['Data Envio Processo'] = pd.to_datetime(df_resposta_recurso['Data Envio Processo'], format='%d/%m/%Y', errors='coerce')

# Calcular a diferen√ßa
df_resposta_recurso['tempo_medio'] = df_resposta_recurso['Data Empenho'] - df_resposta_recurso['Data Envio Processo']

df_resposta_recurso[['Data Envio Processo', 'Data Empenho', 'tempo_medio']].head()

  Data Envio Processo Data Empenho tempo_medio
0          2018-02-09   2018-03-05     24 days
1          2017-08-28   2017-09-21     24 days
2          2018-05-24   2018-07-04     41 days
3          2020-02-25   2020-03-03      7 days
4          2019-04-10   2019-05-09     29 days

In [30]:
top_10 = df_resposta_recurso.nsmallest(10, 'tempo_medio')
top_10

,ibge7,CNPJ,UF,Munic√≠pio,Processo,Protocolo,Ano,N¬∫ Siafi,N¬∫ munic√≠pio no Siafi,N¬∫ Termo de Compromisso,...,MP - N¬∫ da lei,Data Empenho,Data Dou,Fim vig√™ncia,Status,N¬∫ de pessoas atendidas,Parcela 1,Parcela 2,Parcela 3,tempo_medio
1107,4217808,82765488000102,SC,Tai√≥,59052.016469/2023-01,RES-SC-4217808-20231018-03,2023,8351,8351,1AAPJO,...,01.191,2023-11-23,21/11/2023,19/06/2024,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,18000,315001.58,NaN,NaN,-337 days
250,4301206,87590998000100,RS,Arroio do Tigre,59052.034904/2025-32,RES-RS-4301206-20241028-01,2025,8523,8523,1AARRP,...,01.218,2024-05-13,09/05/2024,05/11/2024,PRESTA√á√ÉO DE CONTAS - CHECKLIST DA CGPC PENDENTE,12358,200000.00,NaN,NaN,-320 days
3799,4314605,88861448000140,RS,Piratini,59052.034398/2025-81,RES-RS-4314605-20250301-02,2025,8795,8795,1AARRE,...,01.218,2024-05-13,09/05/2024,05/11/2024,PRESTA√á√ÉO DE CONTAS - CHECKLIST DA CGPC PENDENTE,39212,200000.00,NaN,NaN,-298 days
1740,31,18715565000110,MG,Grupo de munic√≠pios,59052.003126/2019-91,RES-MG-31-20190528-01,2019,3369,3369,697796,...,13.808,2019-07-25,19/07/2019,20/03/2020,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,580117,4870149.36,NaN,NaN,-287 days
443,4319208,87612966000168,RS,S√£o Nicolau,59052.034506/2025-16,RES-RS-4319208-20250312-04,2025,8887,8887,1AASNO,...,01.223,2024-06-12,11/06/2024,08/12/2024,PRESTA√á√ÉO DE CONTAS - VIG√äNCIA ENCERRADA,11454,200000.00,NaN,NaN,-278 days
4420,4302402,87242707000192,RS,Bom Retiro do Sul,59052.034302/2025-85,RES-RS-4302402-20250213-24,2025,8547,8547,1AASFK,...,01.218,2024-05-27,24/05/2024,20/11/2024,PRESTA√á√ÉO DE CONTAS - CHECKLIST DA CGPC PENDENTE,341,45000.00,NaN,NaN,-275 days
3747,3162922,1612516000150,MG,S√£o Joaquim de Bicas,59052.009028/2022-63,RES-MG-3162922-20220202-01,2022,722,722,1AAICN,...,01.096,2022-03-23,21/03/2022,17/09/2022,PRESTA√á√ÉO DE CONTAS - AN√ÅLISE DO T√âCNICO - PR...,261568,1699072.88,NaN,NaN,-274 days
4057,4319125,94444403000173,RS,S√£o Martinho da Serra,59052.032464/2024-06,RES-RS-4319125-20241205-03,2024,5793,5793,1AARWR,...,01.218,2024-05-15,15/05/2024,11/11/2024,PRESTA√á√ÉO DE CONTAS - VIG√äNCIA ENCERRADA,1750,200000.00,NaN,NaN,-271 days
298,3100906,18404749000160,MG,√Åguas Formosas,59052.008435/2021-72,RES-MG-3100906-20211222-01,2021,4017,4017,1AAHMB,...,01.030,2021-12-31,31/01/2022,30/07/2022,PRESTA√á√ÉO DE CONTAS - VIG√äNCIA ENCERRADA,1400,339795.21,NaN,NaN,-257 days
2572,4105706,76161199000100,PR,Clevel√¢ndia,59052.016606/2023-07,RES-PR-4105706-20231027-02,2023,7509,7509,1AAPIK,...,01.191,2023-11-20,10/11/2023,08/05/2024,PRESTA√á√ÉO DE CONTAS - VIG√äNCIA ENCERRADA,308,137186.00,NaN,NaN,-252 days

#### BASE Restabelecimento tempo m√©dio e contagem (por munic√≠pio)

In [31]:
df_restabelecimento_mun = df_resposta_recurso.pivot_table(
    index='ibge7',           # Munic√≠pios como linhas
#    columns='tempo_medio',     
    values='tempo_medio',      # Qualquer coluna para contar (pode ser 'ibge7' tamb√©m)
    aggfunc=['mean', 'count'],         # Fun√ß√£o de agrega√ß√£o: contar ocorr√™ncias
    fill_value=0             # Preencher com 0 onde n√£o h√° ocorr√™ncias
).reset_index()

df_restabelecimento_mun.head()

df_restabelecimento_mun = df_resposta_recurso.groupby('ibge7').agg({
    'tempo_medio': ['mean', 'count']
}).reset_index()

# Ajustar nomes das colunas
df_restabelecimento_mun.columns = [
    'ibge7', 
    'tempo_medio_restabelecimento', 'qtd_restabelecimento'
]

df_restabelecimento_mun.head()

     ibge7 tempo_medio_restabelecimento  qtd_restabelecimento
0       11                     -18 days                     1
1  1100015                      22 days                     2
2  1100023                      15 days                     1
3  1100049                      14 days                     1
4  1100056                      11 days                     1

### 3. Reconstru√ß√£o: recursos liberados

In [33]:
import pandas as pd
df_reconstrucao_recurso = pd.read_excel("dados/Relat√≥rio Gerencial de Reconstru√ß√£o - Recursos Liberados1.xlsx", 
                               skiprows=3, 
                                #skipfooter=1,
                dtype={
                    'IBGE': str}
                        )
#df_reconstrucao_recurso = df_reconstrucao_recurso.drop(['CNPJ','UF','Munic√≠pio', 'N¬∫ Siafi','N¬∫ munic√≠pio no Siafi','N¬∫ Termo de Compromisso'], axis=1)
df_reconstrucao_recurso = df_reconstrucao_recurso.rename(columns={'IBGE': 'ibge7'})


df_reconstrucao_recurso.head()

,ibge7,CNPJ,UF,Munic√≠pio,Processo,Protocolo,Ano,N¬∫ Siafi,N¬∫ munic√≠pio no Siafi,N¬∫ Termo de Compromisso,...,MP - N¬∫ da lei,Data Empenho,Valor Empenhado,Data Dou,Fim vig√™ncia,Status,N¬∫ de pessoas atendidas,Parcela 1,Parcela 2,Parcela 3
0,4212270,95993085000162,SC,Passos Maia,59053.008773/2022-85,REC-SC-4212270-20221118-01,2022,5743,5743,1AALZW,...,01.102,12/12/2022,203637.06,17/03/2023,15/03/2024,ACOMPANHAMENTO - RECURSO TRANSFERIDO,104,203637.06,NaN,NaN
1,3160306,18349951000136,MG,Santo Ant√¥nio do Jacinto,59053.005872/2021-24,REC-MG-3160306-20211227-01,2021,5205,5205,1AANHG,...,01.102,25/07/2022,1007794.79,20/07/2023,18/07/2024,ACOMPANHAMENTO - RECURSO TRANSFERIDO,35,302338.44,705456.35,NaN
2,4209201,82939471000124,SC,Lacerd√≥polis,59053.002381/2018-26,REC-SC-4209201-20181126-01,2018,8181,8181,697228,...,13.587,19/12/2018,515517.31,22/04/2019,21/04/2020,ACOMPANHAMENTO - RECURSO TRANSFERIDO,210,515517.31,NaN,NaN
3,4301925,93539153000192,RS,Barra do Rio Azul,59053.011852/2023-54,REC-RS-4301925-20231114-01,2023,5959,5959,1AATUB,...,01.244,11/04/2024,3940000.00,06/08/2024,06/08/2025,ACOMPANHAMENTO - RECURSO TRANSFERIDO,2795,1182000.00,2758000.00,NaN
4,4313466,53099656000170,RS,Novo Xingu,59053.015771/2024-12,REC-RS-4313466-20240510-01,2024,1152,1152,1aavsp,...,01.218,29/05/2024,746980.00,24/12/2024,24/12/2025,ACOMPANHAMENTO - RECURSO TRANSFERIDO,65,746980.00,NaN,NaN

In [34]:
df_reconstrucao_recurso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ibge7                    919 non-null    object
 1   CNPJ                     919 non-null    int64
 2   UF                       919 non-null    object
 3   Munic√≠pio                919 non-null    object
 4   Processo                 919 non-null    object
 5   Protocolo                919 non-null    object
 6   Ano                      919 non-null    int64
 7   N¬∫ Siafi                 919 non-null    int64
 8   N¬∫ munic√≠pio no Siafi    919 non-null    int64
 9   N¬∫ Termo de Compromisso  919 non-null    object
 10  Cobrade                  919 non-null    int64
 11  Data Envio               919 non-null    object
 12  Valor Custo              919 non-null    float64
 13  Valor Liberado           919 non-null    float64
 14  Plano Interno            919 non-null    object
 15  PTRES                    917 non-null    float64
 16  PT                       919 non-null    object
 17  Fonte                    919 non-null    int64
 18  GND                      919 non-null    int64
 19  MP - N¬∫ da lei           919 non-null    object
 20  Data Empenho             919 non-null    object
 21  Valor Empenhado          919 non-null    float64
 22  Data Dou                 919 non-null    object
 23  Fim vig√™ncia             919 non-null    object
 24  Status                   919 non-null    object
 25  N¬∫ de pessoas atendidas  919 non-null    int64
 26  Parcela 1                919 non-null    float64
 27  Parcela 2                300 non-null    float64
 28  Parcela 3                31 non-null     float64
dtypes: float64(7), int64(8), object(14)
memory usage: 208.3+ KB

In [35]:
df_reconstrucao_recurso['Ano'].value_counts()

Ano
2022    218
2024    205
2023    188
2017     78
2020     77
2021     59
2018     50
2019     27
2025     14
2016      3
Name: count, dtype: int64

In [36]:
df_reconstrucao_recurso.tail()

# Converter as colunas para datetime
df_reconstrucao_recurso['Data Envio'] = pd.to_datetime(df_reconstrucao_recurso['Data Envio'], format='%d/%m/%Y', errors='coerce')
df_reconstrucao_recurso['Data Empenho'] = pd.to_datetime(df_reconstrucao_recurso['Data Empenho'], format='%d/%m/%Y', errors='coerce')
df_reconstrucao_recurso['Data Dou'] = pd.to_datetime(df_reconstrucao_recurso['Data Dou'], format='%d/%m/%Y', errors='coerce')

# Calcular a diferen√ßa
df_reconstrucao_recurso['tempo_medio_analise'] = df_reconstrucao_recurso['Data Empenho'] - df_reconstrucao_recurso['Data Envio']
df_reconstrucao_recurso['tempo_medio_liberacao'] = df_reconstrucao_recurso['Data Dou'] - df_reconstrucao_recurso['Data Empenho']

df_reconstrucao_recurso[['Data Envio', 'Data Empenho', 'Data Dou','tempo_medio_analise', 'tempo_medio_liberacao']].head()

  Data Envio Data Empenho   Data Dou tempo_medio_analise tempo_medio_liberacao
0 2022-11-22   2022-12-12 2023-03-17             20 days               95 days
1 2021-12-27   2022-07-25 2023-07-20            210 days              360 days
2 2018-11-28   2018-12-19 2019-04-22             21 days              124 days
3 2023-11-17   2024-04-11 2024-08-06            146 days              117 days
4 2024-05-15   2024-05-29 2024-12-24             14 days              209 days

#### BASE Reconstru√ß√£o tempo m√©dio (analise e libera√ß√£o)  e contagem (por munic√≠pio)

In [37]:
df_reconstrucao_recurso.to_csv(
    "dados/_base_final/reconstrucao_mun_completo.csv",
    index=False,           # N√£o salva o √≠ndice
    encoding='utf-8',      # Codifica√ß√£o para caracteres especiais
    sep=',',               # Separador (v√≠rgula)
    decimal='.'            # Separador decimal (ponto)
)

In [38]:
df_reconstrucao_mun = df_reconstrucao_recurso.groupby('ibge7').agg({
    'tempo_medio_analise': ['mean', 'count'],
    'tempo_medio_liberacao': ['mean', 'count']
}).reset_index()

# Ajustar nomes das colunas
df_reconstrucao_mun.columns = [
    'ibge7', 
    'tempo_medio_analise', 'qtd_analise',
    'tempo_medio_liberacao', 'qtd'
]
df_reconstrucao_mun = df_reconstrucao_mun.drop(['qtd_analise'], axis=1)

df_reconstrucao_mun.head()

     ibge7 tempo_medio_analise tempo_medio_liberacao  qtd
0  1100148            165 days     529 days 00:00:00    1
1  1101450             18 days     521 days 12:00:00    2
2  1200401            220 days      88 days 00:00:00    1
3  1200708             53 days     347 days 00:00:00    1
4  1302504            146 days     263 days 12:00:00    2

In [39]:
df_reconstrucao_mun.to_csv(
    "dados/_base_final/reconstrucao_municipio.csv",
    index=False,           # N√£o salva o √≠ndice
    encoding='utf-8',      # Codifica√ß√£o para caracteres especiais
    sep=',',               # Separador (v√≠rgula)
    decimal='.'            # Separador decimal (ponto)
)